:root {
  --blue: #2C7DFA;
  --blue-shade: #3685FF;
  --dark-navy: #1F314F;
  --grey: #7D889E;
  --light-grey: #D5E1EF;
  --white: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--light-grey);
}