.card {
  padding: 1rem 1rem 2.5rem;
  width: min(320px, 80%);

  background: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.card__qr-code-container {
  padding: 4rem;
  position: relative;

  background-image: url('/qr-code-bg.png');
  background-size: cover;
}

.card__qr-code {
  width: 100%;
  height: auto;
}

.card__button-copy {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  
  background: none;
  cursor: pointer;
}

.card__title {
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  font-size: 1.375rem;
  line-height: 1.75rem;

  color: var(--dark-navy);
  text-align: center;
}

.card__description {
  line-height: 19px;
  
  color: var(--grey);
  text-align: center;
  letter-spacing: 0.1875px;
}